
.background {
  background: url("/images/background.png");
  background-position: 0% 20%;
}
body {
  padding: 0px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 20px;
}
/* .card-text{
  font-size:12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
p {
  width: 100%;
  flex: 1 0 100%;
  text-align: center;
  color: black;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f6f6f6  no-repeat 50% 18.5%;
}

.header {
  padding: 80px;
  text-align: center;

  background: url("/images/header-image.jpg");
  background-position: 0% 2%;
  color: white;
}

.header h1 {
  font-size: 50px;
}

.active {
  background-color: #04aa6d;
}

h2 {
  text-align: center;
}

/* Style the top navigation bar */
/* .topnav {
  overflow: hidden;
  background-color: #333;
} */

/* Style the topnav links */
/* .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Change color on hover */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

.wrapper {
  padding: 0 1rem;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
}

.news.card {
  text-decoration: none;
  color: rgb(8, 8, 8);
  background-color: #fff;
  padding: 30px;
}

.news-single {
  background-color: #fff;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

.stages-wrapper {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgb(0 0 0 / 7%);
  display: grid;
  grid-gap: 20px;
}

.entry-content {
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 2.8rem;
  letter-spacing: -0.1rem;
  margin: 0.5em 0;
  font-weight: 700;
}

.wp-block-image {
  margin: 0 0 1em;
}

.para {
  margin: 0 0 1.5em;
  letter-spacing: -0.1px;
}

canvas {
  border: 2px solid rgb(151, 149, 149);
}

.form-header {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
form {
  width: 100%;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.05);

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
label {
  display: block;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
.input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #fff;
  font: inherit;
}
.input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.3);
}
.form-field {
  margin-bottom: 10px;
}
.error,
.errors-list {
  font-size: 14px;
  color: #c00;
}
.errors-list {
  margin: 0 0 1.5em;
  padding: 0 0 0 15px;
}
.form-field-invalid .input {
  border-color: #c00;
}
.form-actions {
  margin-top: 20px;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #24b47e;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 1px 3px;
  border-radius: 3px;
  font: inherit;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover,
.btn:focus {
  outline: none;
  background: #2aa172;
}
.btn:active {
  transform: translateY(1px);
}
.flash {
  padding: 15px 20px;
  border: 1px solid;
  border-radius: 3px;
}
.flash-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.form-class {
  display: block;
  text-align: center;
}
