<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body class="background">
    <div class="container " style="padding-top: 200px">
      <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col-6 col-sm-6">
          <form
            action="/user/loginUser"
            method="post"
            name="login"
            class="form-signin"
          >
            <h3 class="form-signin-heading">Login</h3>

            <input
              type="text"
              class="form-control"
              name="email"
              required=""
              placeholder="Email Address"
            />
            <input
              type="password"
              class="form-control"
              name="password"
              required=""
              placeholder="Password"
            />

            <button
              class="btn btn-lg btn-primary btn-block"
              name="Submit"
              value="Login"
              type="Submit"
            >
              Login
            </button>
            <br />
            <p>Don't have an account? <a href="/user/register">Register</a></p>
            <% if(error) { %>
              <div class="alert alert-danger" role="alert"><%= error %></div>
              <% } %>
          </form>
         
        </div>
      </div>
    </div>
  </body>
</html>

