<!DOCTYPE html>
<html>
  <head>
    <head>
      <%- include('./partials/head'); %>
    </head>
  </head>
  <body class="background">
    <div class="container" style="padding-top: 200px">
      <div class="row h-10 d-flex align-items-center justify-content-center">
        <div class="col-6 col-sm-6">
          <form class="form-signin" action="/user/registerUser" method="post">
            <h2 class="form-signin-heading">Please signup</h2>
            <label for="inputName" class="sr-only">Name address</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              placeholder="Name"
              required=""
              value="<%= data.username %>"
            />
            <label for="inputEmail" class="sr-only">Email address</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Email address"
              required=""
              value="<%= data.email %>"
            />
            <label for="inputPassword" class="sr-only">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password"
              required=""
              value="<%= data.password %>"
            />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Sign in
            </button>
            <br />
            <p>
              Already have an account? <a href="/user/login">Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
